extends layout

block layout-content
  div.h-100
    h1.h1.text-center.mb-5 ABOUT US
    div.container
      div.row
        div.col-12.col-lg-6
          img.img-fluid(src="/images/aboutUsBanner.png" alt="Volunteer Vanguard Banner")
        div.col-12.col-lg-6
          p.lead
            | Welcome to <strong>VOLUNTEER VANGUARD</strong>, the platform connecting NGOs and volunteers for maximum impact!
          p.lead
            | Our mission is to make the world a better place by bringing together those who have a passion for helping others and organisations that are making a difference in their communities. We believe that by working together, we can have a bigger impact and create meaningful change.
          p.lead
            | With <strong>VOLUNTEER VANGUARD</strong>, NGOs can easily find and connect with volunteers who have the skills, interests, and availability to support their initiatives. And for volunteers, our platform provides a one-stop-shop for discovering meaningful opportunities to give back and make a difference.
          p.lead
            | We're dedicated to making it easy and seamless for NGOs and volunteers to collaborate, whether it's for a one-time project or a long-term partnership. Our platform features tools for communication, project management, and impact tracking, so everyone can stay organised and focused on their mission.
          p.lead
            | Join the volunteer movement and become a part of something bigger. Sign up for <strong>VOLUNTEER VANGUARD</strong> today and help make a positive impact in your community and the world!