extends layout

append scripts
  script(src="/js/addDeviceController.js")

block layout-content
  div
    h1.h1.text-center.mb-4 Add your new device to your home
    if deviceAdded === true
      div(role="alert").alert.alert-success.alert-dismissible.fade.show.mt-3.text-center
        strong New device successfully added
        button(data-bs-dismiss="alert" type="button" aria-label="Close").btn-close
    if deviceAdded === false
      div(role="alert").alert.alert-danger.alert-dismissible.fade.show.mt-3.text-center
        strong Something went wrong, please try again!
        br
        strong #{errorMessage}
        button(data-bs-dismiss="alert" type="button" aria-label="Close").btn-close
    div.mt-6.bg-light.p-3.card
      form(action="/addDevice" method="post" novalidate).needs-validation
        div.mb-3
          label(for="name").form-label Name:
          input(name="name" type="text" aria-describedby="nameHelp", required)#name.form-control
          div#nameHelp.form-text Name of your device (should be unique)
        div.mb-3
          label(for="type").form-label Type:
          select(name="type" aria-label="Select device type", required)#type.form-select
            option(selected, disabled, value="") Select device type
            option(value="lock") Lock
            option(value="blinds") Blinds
            option(value="light") Light
            option(value="ac") AC
            option(value="radiator") Radiator
            option(value="tv") TV
        div.mb-3
          label(for="location").form-label Location:
          select(name="location" aria-label="Select device location", required)#location.form-select
            option(selected, disabled, value="") Select device location
            option(value="entrance") Entrance
            option(value="bedroom") Bedroom
            option(value="livingroom") Livingroom
            option(value="bathroom") Bathroom
        div.mt-3.text-center
          button(type="submit").btn.btn-outline-primary.btn-lg Add Device
