extends layout

block layout-content
  div.h-100
    h1.h1.text-center.mb-5 CREATE
    div.container
      div.row
          img.img-fluid(src="/volunteer-vanguard/images/plusSign.png" alt="Create a volunteer program")
          