extends layout

block layout-content
  div.h-100
    h1.h1.text-center VOLUNTEER VANGUARD
    div.my-4
      img.img-fluid(src="/volunteer-vanguard/images/homePageBanner.png" alt="Volunteer Vanguard Banner")
    div.d-flex.justify-content-evenly
      a.btn.btn-primary.btn-lg(href='/about') ABOUT US
      a.btn.btn-primary.btn-lg.ms-5(href='/login') LOGIN