block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon" href="/volunteer-vanguard/images/favicon.ico")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color" content="#21252a")
    title #{title} | VOLUNTEER VANGUARD
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" rel="stylesheet")
    link(href="/volunteer-vanguard/css/style.css" rel="stylesheet")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous")
  body
    header
      div.px-3.py-2.bg-white.text-dark.border-bottom
        div.container
          div.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start.flex-lg-nowrap
            a.d-flex.align-items-center.my-2.my-lg-0.me-lg-5.text-dark.text-decoration-none(href='/')
              h1 VANGUARD
            div.input-group.flex-nowrap.me-lg-5.ms-lg-5
              span.input-group-text.bi.bi-search
              input.form-control.form-control-dark.w-100(type="search" placeholder="Search Volunteer Programs" aria-label="Search Volunteer Programs")
            ul.nav.col-12.col-lg-auto.my-2.justify-content-center.my-md-0.text-small.ms-lg-5
              li
                a.nav-link.text-dark(href='/signIn') Sign In
    div.container.mt-5
      block layout-content
    footer.py-3.my-4.mt-5
      p.text-center.text-muted © 2020 - #{currentYear} Volunteer Vanguard
  block scripts