extends layout

block layout-content
  div.container
    div.row
      div.col-xl-4
        div.card.mb-3.overflow-hidden.shadow-sm
          div.row.g-0
            div.col-4.overflow-hidden
              img(src="/images/volunteers-2.png").h-100.object-fit-contain
            div.col-8
              div.card-body
                div.d-flex.justify-content-end
                  i.bi.bi-three-dots.text-primary.fs-3
                h5.card-title Humanity Mission in Haiti
                div.d-flex
                  p.card-text.text-muted
                    i.bi.bi-person-fill.text-primary.fs-4 
                    span Denis M.
                  p.card-text.text-muted.ps-3.pt-1
                    i.bi.bi-clock-fill.text-primary.fs-5
                    span  10 days left
                p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                div.d-flex.justify-content-end
                  a.w-100.btn.btn-primary.btn-sm(href="#") View Application
      div.col-xl-4
        div.card.mb-3.overflow-hidden.shadow-sm
          div.row.g-0
            div.col-4.overflow-hidden
              img(src="/images/volunteers-2.png").h-100.object-fit-contain
            div.col-8
              div.card-body
                div.d-flex.justify-content-end
                  i.bi.bi-three-dots.text-primary.fs-3
                h5.card-title Humanity Mission in Haiti
                div.d-flex
                  p.card-text.text-muted
                    i.bi.bi-person-fill.text-primary.fs-4 
                    span Denis M.
                  p.card-text.text-muted.ps-3.pt-1
                    i.bi.bi-clock-fill.text-primary.fs-5
                    span  10 days left
                p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                div.d-flex.justify-content-end
                  a.w-100.btn.btn-primary.btn-sm(href="#") View Application
      div.col-xl-4
        div.card.mb-3.overflow-hidden.shadow-sm
          div.row.g-0
            div.col-4.overflow-hidden
              img(src="/images/volunteers-2.png").h-100.object-fit-contain
            div.col-8
              div.card-body
                div.d-flex.justify-content-end
                  i.bi.bi-three-dots.text-primary.fs-3
                h5.card-title Humanity Mission in Haiti
                div.d-flex
                  p.card-text.text-muted
                    i.bi.bi-person-fill.text-primary.fs-4 
                    span Denis M.
                  p.card-text.text-muted.ps-3.pt-1
                    i.bi.bi-clock-fill.text-primary.fs-5
                    span  10 days left
                p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                div.d-flex.justify-content-end
                  a.w-100.btn.btn-primary.btn-sm(href="#") View Application
      div.col-xl-4
        div.card.mb-3.overflow-hidden.shadow-sm
          div.row.g-0
            div.col-4.overflow-hidden
              img(src="/images/volunteers-2.png").h-100.object-fit-contain
            div.col-8
              div.card-body
                div.d-flex.justify-content-end
                  i.bi.bi-three-dots.text-primary.fs-3
                h5.card-title Humanity Mission in Haiti
                div.d-flex
                  p.card-text.text-muted
                    i.bi.bi-person-fill.text-primary.fs-4 
                    span Denis M.
                  p.card-text.text-muted.ps-3.pt-1
                    i.bi.bi-clock-fill.text-primary.fs-5
                    span  10 days left
                p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                div.d-flex.justify-content-end
                  a.w-100.btn.btn-primary.btn-sm(href="#") View Application
      div.col-xl-4
        div.card.mb-3.overflow-hidden.shadow-sm
          div.row.g-0
            div.col-4.overflow-hidden
              img(src="/images/volunteers-2.png").h-100.object-fit-contain
            div.col-8
              div.card-body
                div.d-flex.justify-content-end
                  i.bi.bi-three-dots.text-primary.fs-3
                h5.card-title Humanity Mission in Haiti
                div.d-flex
                  p.card-text.text-muted
                    i.bi.bi-person-fill.text-primary.fs-4 
                    span Denis M.
                  p.card-text.text-muted.ps-3.pt-1
                    i.bi.bi-clock-fill.text-primary.fs-5
                    span  10 days left
                p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                div.d-flex.justify-content-end
                  a.w-100.btn.btn-primary.btn-sm(href="#") View Application
      div.col-xl-4
        div.card.mb-3.overflow-hidden.shadow-sm
          div.row.g-0
            div.col-4.overflow-hidden
              img(src="/images/volunteers-2.png").h-100.object-fit-contain
            div.col-8
              div.card-body
                div.d-flex.justify-content-end
                  i.bi.bi-three-dots.text-primary.fs-3
                h5.card-title Humanity Mission in Haiti
                div.d-flex
                  p.card-text.text-muted
                    i.bi.bi-person-fill.text-primary.fs-4 
                    span Denis M.
                  p.card-text.text-muted.ps-3.pt-1
                    i.bi.bi-clock-fill.text-primary.fs-5
                    span  10 days left
                p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                div.d-flex.justify-content-end
                  a.w-100.btn.btn-primary.btn-sm(href="#") View Application
  div.mt-5.d-flex.justify-content-center.p-5.pointer
    i.bi.bi-plus-circle.text-primary.fs-1.px-3.py-2.shadow.rounded-circle
  div.mt-5
    div.d-flex.justify-content-center
      nav(aria-label="Page navigation example")
        ul.pagination
          li.page-item.disabled
            a.page-link(href="#") Previous
          li.page-item.active
            a.page-link(href="#") 1
          li.page-item
            a.page-link(href="#") 2
          li.page-item
            a.page-link(href="#") 3
          li.page-item
            a.page-link(href="#") Next