extends layout

doctype html
html
  head
    meta(charset='utf-8')
    link(rel='shortcut icon', href='public/images/favicon.ico')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='theme-color', content='#21252a')
    title LOGIN | VOLUNTEER VANGUARD
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor', crossorigin='anonymous')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css', rel='stylesheet')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js', integrity='sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2', crossorigin='anonymous')
    link(href='custom.css', rel='stylesheet')
    style.
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  body
    header
      .px-3.py-2.bg-white.text-dark.border-bottom
        .container
          .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start.flex-lg-nowrap
            a.d-flex.align-items-center.my-2.my-lg-0.me-lg-5.text-dark.text-decoration-none(href='/volunteer-vanguard/index.html')
              h1 VANGUARD
            .input-group.flex-nowrap.me-lg-5.ms-lg-5
              span.input-group-text.bi.bi-search
              input.form-control.form-control-dark.w-100(type='search', placeholder='Search Volunteer Programs', aria-label='Search Volunteer Programs')
            ul.nav.col-12.col-lg-auto.my-2.justify-content-center.my-md-0.text-small.ms-lg-5
              li
                a.nav-link.text-dark(href='/volunteer-vanguard/signIn.html') Sign In
    .container.mt-4
      .h-100
        h1.h1.text-center.mb-5 CREATE YOUR ACCOUNT
        .container
          .row
            form.row.gx-3.gy-2.align-items-center
              .col-sm-3
                label.visually-hidden(for='specificSizeInputName') Name
                input#specificSizeInputName.form-control(type='text', placeholder='Jane Doe')
              .col-sm-3
                label.visually-hidden(for='specificSizeInputGroupUsername') Username
                .input-group
                  .input-group-text @
                  input#specificSizeInputGroupUsername.form-control(type='text', placeholder='Username')
              .col-sm-3
                label.visually-hidden(for='specificSizeSelect') Preference
                select#specificSizeSelect.form-select
                  option(selected='') Choose Type...
                  option(value='1') Organization
                  option(value='2') Volunteer
                  option(value='3') Donor
              .col-auto
                .form-check
                  input#autoSizingCheck2.form-check-input(type='checkbox')
                  label.form-check-label(for='autoSizingCheck2')
                    | I agree with the Terms of Use
              br
              br
              .col-auto
                button.btn.btn-primary(type='submit') Submit
    footer.py-3.my-4.mt-5
      p.text-center.text-muted &copy; 2023 - Volunteer Vanguard